body {
    background: url(images/marcela-laskoski-118684.jpg) no-repeat;
    background-size: cover;
}

.music {

    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    color: whitesmoke;
    transform: translate(-50%, -50%);
    animation: typing 4s steps(22);
    overflow: hidden;
    white-space: nowrap;
    font-family: consolas;
    border-right: 2px solid #fff;
    
    
}

@keyframes typing {
    0% {
        width: 0ch;
    }
    100% {
        width: 22ch;
    }
}